:root {
  /*_____ primary colors _____*/
  --bg-body: hsl(233, 47%, 7%);
  --bg-card: hsl(244, 38%, 16%);
  --acc-img: hsla(277, 64%, 61%, 0.5);

  /*_____ font-family _____*/
  --f-1: 'Inter', sans-serif;
  --f-2: 'Lexend Deca', sans-serif;
  --f-h2: var(--f-1);
  --f-p:  var(--f-1);
  --f-stats: var(--f-1);
  --f-stat-head: var(--f-2);

  /*_____ text color _____*/
  --fc-h2: hsl(0, 0%, 100%);
  --fc-h2-acc: hsl(277, 64%, 61%);
  --fc-p: hsla(0, 0%, 100%, 0.75);
  --fc-stats: hsl(0, 0%, 100%);
  --fc-stat-head: hsla(0, 0%, 100%, 0.75);
  --text-footer: hsl(0, 0%, 100%);
  --text-footer-a: hsl(180, 100%, 27%);
  --text-footer-a-hov: hsl(39, 100%, 50%);
  --text-footer-a-vis: hsl(300, 100%, 25%);

  /*_____ font-size _____*/
  --f-df: .9375rem;
  --fs-h2: 2.25rem;
  --fs-h2-mob: 1.75rem;
  --fs-p: var(--f-df);
  --fs-stats: 1.5rem;
  --fs-stat-head: .75rem;

  /*_____ font-weight _____*/
  --fw-h2: 700;
  --fw-p: 400;
  --fw-stats: 700;
  --fw-stat-head: 400;

  /*_____ line-height _____*/
  --lh-h2: 2.75rem;
  --lh-h2-mob: 2rem;
  --lh-p: 1.5625rem;
  --lh-p-mob: 1.5625rem;
  --lh-stats: 1.5rem;
  --lh-stats-mob: 1.8156rem;
  --lh-stat-head: 1.5625rem;

  /*_____ letter-spacing _____*/
  --ls-stat-head: 1px;

}